body {
    font-family: Cambria, Georgia, sans-serif;
    margin: 0px;
    background-color: rgb(234, 182, 190);
    text-align: center;
}

h1{
    color: black;
    font-size: 50px;
    margin-top: 20px;
}

#searchButton {
    background-color: white;
    border: none;
    padding: 6px 18px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
}

#searchInput {
    width: 150px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
}

